<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANK-CUSTOMERS</title>
</head>
<body>
    
<h1>INTEREST RATE GIVEN TO CUSTOMERS</h1> 


<form method="POST" action = "/interest_rate">

<label> Loan_Purpose </label>
<input type ="text" name ='Loan_Purpose'><br>

<label> Home_Ownership </label>
<input type ="text" name ='Home_Ownership'><br>

<label> State  </label>
<input type ="text" name ='State'><br>

<label> Amount_Requested </label>
<input type ="text" name ='Amount_Requested'><br>

<label> Amount_Funded_By_Investors </label>
<input type ="text" name ='Amount_Funded_By_Investors'><br>

<label> Loan_Length  </label>
<input type ="text" name ='Loan_Length'><br>

<label> Debt_To_Income_Ratio </label>
<input type ="text" name ='Debt_To_Income_Ratio'><br>

<label> Monthly_Income </label>
<input type ="text" name ='Monthly_Income'><br>

<label> FICO_Range  </label>
<input type ="text" name ='FICO_Range'><br>

<label> Open_CREDIT_Lines </label>
<input type ="text" name ='Open_CREDIT_Lines'><br>

<label> Revolving_CREDIT_Balance </label>
<input type ="text" name ='Revolving_CREDIT_Balance'><br>

<label> Inquiries_in_the_Last_6_Months  </label>
<input type ="text" name ='Inquiries_in_the_Last_6_Months'><br>

<label> Employment_Length  </label>
<input type ="text" name ='Employment_Length'><br>

<input type="submit">

{{prediction}}



</form>

</body>
</html>